<h1>Your Payment is Successful</h1>

<% if current_user.id == Payment.first..hunderth.user.id %>
    <div class="product">
    <p>Brand: <%= Payment.last.bicycle.brand  %></p>
    <img src=<%= Payment.last.bicycle.urlpicture  %>>
    <p>Price : <%= Payment.last.bicycle.price %>$</p>
    </div>
<% end %>