<h1>List Of Bicycles</h1>
<div id="products">

<% @bicycles.each do |b| %>
    <div class="product">
    <p><%= link_to b.brand , b %></p>
    <img src=<%= b.urlpicture %>>
    <p>Price : <%= b.price  %>$</p>
    </div>
     <% end %>

</div>